*{margin: 0;padding: 0}
body{background: url(bg.jpg);background-size: cover;max-width: 100%;height: 100vh}
button{width: 100vw;height: 30%;border-radius: 0px 0px 250px 250px;border: none;transform: translateY(-40%);background: url(proj.jpg);
background-size: cover;opacity: 0.7}
h3{font-size: 30px; font-weight: bold;padding-top: 13%;font-family: 'Kalpurush', sans-serif;}
.contain{display: flex;column-count: 2;justify-content: center;max-width: 100vw}
p a img  {max-width: 87px;animation: move 8s linear infinite;animation-direction: alternate}

.pat1{position: relative;}

.pati1{position: relative;}
@keyframes move{
    0%{transform: scale(.5)}
    25%{transform: scale(1.03)}
    50%{transform: scale(.8);transform: rotateX('45deg')}
    75%{transform: scale(.9)}
    100%{transform: scale(.6)}
}
    .tainer{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper{height:150px;border-radius: 8px 8px 0px 0px;background-color: #1A4AFE;outline: none; }
    .img-upper{background: url(nambg.gif);width: 100px;height: 100px;border-radius: 5%;padding: 5px;transform: translate(100px,60px)
    }
    .img-upper img{width: 100px;height: 100px;border-radius: 5%;animation: baro 2s linear infinite}
    @keyframes baro{
        0%{transform: scale(.8)}
        50%{transform: scale(1.2)}
        100%{transform: scale(.8)}
    }
    .lower{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #1A4AFE}
    .lower p{font-size: 16px;color: gray;margin-top: 20px;}

    .tainer1{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper1{height:150px;border-radius: 8px 8px 0px 0px;background-color: #FF2264;outline: none; }
    .img-upper1{background: url(nambg.gif);width: 100px;height: 100px;border-radius: 5%;padding: 5px;transform: translate(100px,60px)
    }
    .img-upper1 img{width: 100px;height: 100px;border-radius: 5%;animation: baro 2s linear infinite}
    .lower1{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower1 h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #FF2264}
    .lower1 p{font-size: 16px;color: gray;margin-top: 20px;}
    h2{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 28px;}
    .sucu{background: rgba(0, 0, 0, 0.2);border-radius: 26px;}
 .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;height: 28px;background: url(suv.gif);background-size: cover;color: #F52B37;
   font-family: 'Kalpurush', sans-serif; width: 170px;height:28px;margin: 5px auto;background: #FBBE2C;border-radius: 23px;line-height: 32px}
    .nai{text-align: center;color: #F3AD04;font-family: 'Kalpurush', sans-serif;font-size: 20px;}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 40px;
line-height: 40px;
text-align: center;
background: url(time.gif);
border-radius: 50px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 88px;
height: 25px;border-right-width: 5px;border-right-style: solid;border-right-color: red;
background: #D9FE92;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:#F52B37;font-size: 24px;font-weight: bold;margin-bottom: 5px;margin-top: 7px;font-family: 'Kalpurush', sans-serif;
    width: 170px;height:28px;margin: 5px auto;background: #FBBE2C;border-radius: 23px; }
    .eg{text-align: center;color:#F3AD04;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 5px}
    .stha{text-align: center;color:#F52B37;font-size: 24px;font-weight: bold;margin-bottom: 5px;font-family: 'Kalpurush', sans-serif;
    width: 120px;height:28px;margin: 5px auto;background: #FBBE2C;border-radius: 23px;line-height: 28px}
    .cu{text-align: center;color:#F3AD04;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;}
    .sri{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 24px;font-weight: bold;padding: 20px;} 
    h5{text-align: center;font-size: 28px;color: #F3AD04;font-family: 'Kalpurush', sans-serif;}  
    #fontcss{margin-left: 10px;margin-bottom: 20px;color: #F3AD04;font-family: 'Kalpurush', sans-serif;font-size: 22px;}
    .bih{font-family: 'Kalpurush', sans-serif;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;
    margin-bottom: 40px;color: #F3AD04;font-size: 22px;}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .quni img {max-width: 60%;}
    .nibe{text-align: right;margin-right: 10px;color: #F3AD04;font-family: 'Kalpurush', sans-serif;font-size: 22px;max-width: 40%}
    footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px ;margin-bottom: 10px;
      color: white;
        }  
        #but{width: 100px;height: 30px;background: green;border-radius: 46px;border: none;font-weight: bold;font-size: 15px;letter-spacing: 1.5px
;color: white}